/* ont-family
font-weight
font-size
line-height
color
background-color */

html {
    font-family: Garamond, serif;
}

body {
    background-color: #ded7c7;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: italic;
    text-shadow: #eee 4px 2px;
}

/*emphasis on the bacon*/
h1:first-line {
    color: #bc540f;
    font-size: 200%;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.5rem; /* 1 rem = 16 px */
    font-weight: bold;
    font-style: italic;
    color: #bc540f;
    text-shadow: #eee 3px 2px;
}

p,
li{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #050
}

strong {
    font-weight: bold;
}

em {
    font-style:italic;
}

hr {
    border: dashed 2px #090;
}

ol {
    border: dashed 2px #F00;
    font-weight: bold;
}

.pquote {
	color: #300;
	font-size: 2em;
	font-style: italic;
	padding: 0.5em;
	margin: 0;
}